/**
 * REDNews Image Widget public CSS.
 */
.rednews-image-widget-image {
	margin-bottom: 20px;
}

.rednews-image-widget-button {
	display: block;
	padding: 20px;
	border: 2px solid #000;
	color: #000;
	font: small-caps 700 16px/1 "proxima-nova", sans-serif;
	letter-spacing: 0.02em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.2s ease-in;
}

.rednews-image-widget-button:visited {
	color: #000;
}

.rednews-image-widget-button:hover {
	border: 2px solid #000;
	background-color: #000;
	color: #fff;
}
